<div class="row" style="padding: 20px">
    <div class="col-md-12">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-edit"></i>
                    Lựa chọn Doanh Thu
                </h3>
            </div>
            <div class="card-body pad table-responsive">
                <p>Doanh thu của shop</p>
                <table class="table table-bordered text-center">
                    <tbody>
                        <tr>
                            <th>Lựa chọn</th>
                        </tr>
                        <tr>
                            <td>
                                <button type="button" onclick="location.href='@Url.Action("ByCategory", "Inventorymanagement", new { Area = "Administrator" })'" class="btn btn-block btn-outline-primary">ByCategory</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button type="button" onclick="location.href='@Url.Action("BySupplier", "Inventorymanagement", new { Area = "Administrator" })'" class="btn btn-block btn-outline-secondary">BySupplier</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.card -->
        </div>
    </div>
    <!-- /.col -->
</div>