@model Domain.Application.Dto.Menus.MenuViewModel
<!-- Main content -->
<section class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<form class="form-horizontal" method="post" action="@Url.ActionLink("Create")" asp-antiforgery="true">
					<div class="card-header">
						<h5 class="card-title">Thêm mới menu</h5>
					</div>

					<!-- /.card-header -->
					<div class="card-body">
						<div class="box-body">
							<div class="form-group">
								<label asp-for="ParentHierarchyCode" class="col-sm-2 control-label"></label>
								<div class="col-sm-10">
									<select asp-for="ParentHierarchyCode" asp-items="(List<SelectListItem>)ViewBag.menus" class="menus-select" style="width: 100%;">
										<option></option>
									</select>
									<span asp-validation-for="ParentHierarchyCode" class="text-danger"></span>
								</div>
							</div>
							<div class="form-group">
								<label asp-for="Order" class="col-sm-2 control-label"></label>
								<div class="col-sm-10">
									<input asp-for="Order" class="form-control" />
									<span asp-validation-for="Order" class="text-danger"></span>
								</div>
							</div>
							<div class="form-group">
								<label asp-for="Icon" class="col-sm-2 control-label"></label>
								<div class="col-sm-10">
									<select asp-for="Icon" asp-items="Web.Services.FontAwesome.GetListIcon()" class="icon-select" style="width: 100%;"></select>
									<span asp-validation-for="Icon" class="text-danger"></span>
								</div>
							</div>
							<div class="form-group">
								<label asp-for="Name" class="col-sm-2 control-label"></label>
								<div class="col-sm-10">
									<input asp-for="Name" class="form-control" />
									<span asp-validation-for="Name" class="text-danger"></span>
								</div>
							</div>
							<div class="form-group">
								<label asp-for="DisplayName" class="col-sm-2 control-label"></label>
								<div class="col-sm-10">
									<input asp-for="DisplayName" class="form-control" />
									<span asp-validation-for="DisplayName" class="text-danger"></span>
								</div>
							</div>
							<div class="form-group">
								<label asp-for="Controller" class="col-sm-2 control-label"></label>
								<div class="col-sm-10">
									<input asp-for="Controller" class="form-control" />
									<span asp-validation-for="Controller" class="text-danger"></span>
								</div>
							</div>
							<div class="form-group">
								<label asp-for="Roles" class="col-sm-2 control-label"></label>
								<div class="col-sm-10">
									<select asp-for="Roles" asp-items="(List<SelectListItem>)ViewBag.roles" multiple class="roles-select" style="width: 100%;"></select>
									<span asp-validation-for="Roles" class="text-danger"></span>
								</div>
							</div>
						</div>
						<!-- /.box-body -->
					</div>
					<div class="card-footer">
						<a href="@Url.ActionLink("Index")" role="button" class="btn btn-default">Hủy</a>
						<button type="submit" class="btn btn-info pull-right float-right">Thêm mới</button>
					</div>
				</form>
			</div>
			<!-- /.card -->
		</div>
		<!-- /.col -->
	</div>
</section>

@section Scripts {
	<script type="text/javascript">
		$('.roles-select,.menus-select').select2({
			allowClear: true,
			placeholder: 'Chọn menu cha'
		});
		function iformat(icon) {
			return $('<span><i class="fa ' + icon.id + '"></i> ' + icon.text + '</span>');
		}
		$('.icon-select').select2({
			templateSelection: iformat,
			templateResult: iformat,
			allowHtml: true
		});
	</script>
}