@model System.Collections.Generic.List<Domain.Shop.Entities.SystemManage.ThongBao>

@{
    ViewBag.Title = "title";
    Layout = "LayoutKH2";
}

<h2>title</h2>
<div class="row">
    <div class="panel panel-warning">
        <div class="panel-heading text-center">
            Orders
        </div>
        <div class="panel-body" id="orderlist">
            @foreach (var item in Model)
            {
                <div class="panel panel-default" id="parentDiv">
                    <div class="panel-body">
                        <div class="pull-left col-sm-4">
                            <div class="col-sm-12"><p>Produktid: @item.MaThongBao</p></div>
                            <div class="com-sm-12"><p>Namn: @item.NoiDung</p></div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>


</div>
@section Scripts {
    <script src="~/lib/signalr/signalr.js"></script>
    <script src="~/js/kitchen.js" asp-append-version="true"></script>
}
