@model IEnumerable<Domain.Shop.Dto.BlogCategories.BlogCategoryViewModel>
@section Styles {
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <style type="text/css">

        #table-blog-categories .expanded .collapsed {
            display: none;
        }

        #table-blog-categories .collapsed .expanded {
            display: none;
        }

        #table-blog-categories_info {
            display: none;
        }
    </style>
}
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Danh sách danh mục Blog</h5>
                    <div class="card-tools">

                        <a href="@Url.ActionLink("Create")" role="button" class="btn bg-gradient-success btn-sm">
                            Thêm mới
                        </a>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body" style="overflow-x: auto;">
                    <table id="table-blog-categories" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th style="width: 30px;"></th>
                                <th>Tên danh mục Blog</th>
                                <th>Slug</th>
                                <th style="width: 80px; "></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <partial name="_TableRow" model="item" />
                            }
                        </tbody>
                    </table>
                    <!-- /.row -->
                </div>
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
</section>

@section Scripts
{

    <!-- page script -->
    <script>
    $(function () {
        $('#table-blog-categories').DataTable({
			ordering: false,
			paging: false,
			searching: false,
			fixedColumns: {
				leftColumns: 0,
				rightColumns: 4
			}
		});
    });
    function Delete(id){
		var r = confirm("Bạn có chắc chắn muốn xóa menu này?");
        if (r == true) {
            $.ajax(
            {
                type: "POST",
                url: '@Url.ActionLink("Delete", "BlogCategory")',
                data: {
                    id: id
                },
                error: function (result) {
                    alert("error");
                },
                success: function (result) {
                    if (result == true) {
                        window.location.reload();
                    }
                    else {
						alert("Không thể xóa menu này. Vui lòng xóa các menu con trước khi xóa!");
                    }
                }
            });
        }
	}

		function Toggle(hierarchyCode) {
			$("tr[data-hierarchy=" + hierarchyCode + "]").toggleClass("collapsed").toggleClass("expanded");
            $("#table-blog-categories tbody").each(function () {
				var hierarchy = $(this).data("child");
				if (hierarchy) {
					var parrentRow = $("tr[data-hierarchy=" + hierarchy + "]");
					if (parrentRow.hasClass("collapsed") || !parrentRow.is(":visible")) {
						$(this).hide();
					} else {
						$(this).show();
					}
				}
			});
		}
    </script>
}