<div class="row">
    <div>

        @if (ViewBag.sucsess)
        {
            <img src="~/images/Icon-Tick-Xanh-Fb.png" alt="Alternate Text" style="width: 300px;
                height: 300px; margin: auto; display: block;" />
            <h2 style="text-align: center; font-size: 20px; margin-top: 15px;">Bạn đã cập nhật thành công</h2>
            <a class="btn btn-primary" asp-action="Index" asp-controller="Account" style=" margin: auto;  display: block; width: 250px; border-radius: 10px;  margin-top: 12px;margin-bottom: 16px;"> Quay lại quản lý tài khoản</a>
        }
        else
        {
            <img src="~/images/xdo.jpg" alt="Alternate Text" style="width: 300px;
                height: 300px; margin: auto; display: block;" />
            <h2 style="text-align: center; font-size: 20px; margin-top: 15px;">Bạn đã cập nhật thất bại</h2>
            <a class="btn btn-primary" asp-action="Index" asp-controller="Account" style=" margin: auto;  display: block; width: 250px; border-radius: 10px;  margin-top: 12px;margin-bottom: 16px;"> Quay lại quản lý tài khoản</a>

        }
    </div>
</div>

