@{
    var userId = ViewBag.Age;
    var userName = ViewBag.Name;
    var userIdQuyen = ViewBag.Quyen;
}
<style>

    .modal-backdrop {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        background-color: #000;
    }
</style>
@{
    @if (userId != null)
    {
        @*<div class="header-login">
            <ul>
                <li><a id="logoutBtn" class="smooth" title="">Đăng xuất</a></li>
                <li><a href="#">@userName</a></li>
            </ul>
        </div>*@
        <li>
            <a class="smooth" title="">
                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                @if (userName.ToString().Length > 10)
                {
                    userName = userName.ToString().Substring(0, 11) + "...";
                }
                else
                {
                    userName = userName.ToString();
                }
                @userName
            </a>
            <a id="logoutBtn" class="smooth" title="">
                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                Đăng xuất
            </a>
            <input type="hidden" value="@userIdQuyen"/>
        </li>
    }
    else
    {
        <li>
            <a href="#" data-toggle="modal" data-target="#myModalLogin" id="btn-dangnhap-modal" class="smooth" title="">
                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                Đăng nhập
            </a>
        </li>
        <li>
            <a href="#" data-toggle="modal" data-target="#myModalRegister" class="smooth" title="">
                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                Đăng ký
            </a>
        </li>
        @*<div class="header-login">
            <ul>
                <li><a href="#" data-toggle="modal" data-target="#exampleCompare" class="smooth" title="">LOGIN</a></li>
                <li><a href="#" data-toggle="modal" data-target="#exampleCompare1" class="smooth" title="">REG</a></li>
            </ul>
        </div>*@
    }
}

<!--<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Login</h4>
                <button id="closeModalBtn" type="button" class="close" data-dismiss="modal"> &times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="well">
                            <form class="login-form">
                                <div class="form-group">
                                    <label class="control-label">Tài khoản</label><input class="form-control" id="loginEmail" name="loginEmail" value="" title="Xin vui lòng nhập tên tài khoản" placeholder="Tài khoản" type="text" required><span class="help-block"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Mật khẩu</label><input class="form-control" id="loginPassword" name="loginPassword" value="" title="Xin vui lòng nhập mật khẩu" placeholder="Password" type="password" required><span class="help-block"></span>
                                </div>
                                <div id="loginErrorMsg" class="alert alert-error hide">Sai tên tài khoản hay mật khẩu</div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" id="remember" type="checkbox">
                                        Nhớ thông tin
                                    </label>
                                    <p class="help-block">(Nếu sử dụng máy tính cá nhân)</p>

                                </div>
                                <button id="loginBtn" class="btn btn-success btn-block">Đăng nhập</button><a href="http://hocwebgiare.com/" class="btn btn-default btn-block">Quên mật khẩu?</a>
                            </form>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="well">
                            Đăng ký khách hàng <span class="text-success">ONLINE</span>
                            <form class="register-form">
                                <div class="form-group">
                                    <label class="control-label">Tên</label>
                                    <input class="form-control" id="crName" type="text" placeholder="Name" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Email</label>
                                    <input class="form-control" id="crEmail" type="text" placeholder="E-mail address" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Password</label>
                                    <input class="form-control" id="crPassword" type="password" placeholder="Password" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">RetypePassword</label>
                                    <input class="form-control" id="crRePassword" type="password" placeholder="Retype Password" />
                                </div>
                                <button id="crBtn" class="btn btn-info btn-block">Đăng ký</button>-->
@*<button id="demo">Click me.</button>*@

<!--</form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>-->
@*<div class="modal fade" id="exampleCompare" tabindex="-1" role="dialog" aria-hidden="true">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span class="pe-7s-close" aria-hidden="true"></span>
    </button>
    <div class="modal-dialog modal-compare-width" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="login" style="display: block; margin-left: auto; margin-right: auto;">
                    <div class="login-form-container">
                        <div class="login-form">
                            <form>
                                <input type="email" placeholder="Tài khoản" id="loginEmail" name="loginEmail" value="" title="Xin vui lòng nhập tên tài khoản" required>
                                <input id="loginPassword" name="loginPassword" value="" title="Xin vui lòng nhập mật khẩu" placeholder="Password" type="password" required>
                                <div class="button-box">
                                    <div class="login-toggle-btn">
                                        <input type="checkbox">
                                        <label>Remember me</label>
                                        <a href="#">Forgot Password?</a>
                                    </div>
                                    <button id="loginBtn" class="default-btn floatright">Login</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleCompare1" tabindex="-1" role="dialog" aria-hidden="true">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span class="pe-7s-close" aria-hidden="true"></span>
    </button>
    <div class="modal-dialog modal-compare-width" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="login" style="display: block; margin-left: auto; margin-right: auto;">
                    <div class="login-form-container">
                        <div class="login-form">
                            <form class="register-form">
                                <input id="crName" type="text" placeholder="Tên" required>
                                <input id="crEmail" type="email" placeholder="E-mail address" required>
                                <input id="crPassword" type="password" placeholder="Password" required>
                                <input id="crRePassword" type="password" placeholder="Nhập lại password" required>
                                <div class="button-box">
                                    <button id="crBtn" class="default-btn floatright">Login</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@


