@model IEnumerable<Domain.Shop.Dto.Products.ProductViewModel>
@{
    ViewData["Title"] = "Home Page";
    ViewData["Name"] = "Trang chủ";
    ViewData["Controller"] = "Trang chủ";
    ViewData["Action"] = "Danh sách sản phẩm";
    //Layout = "_Layout1";
    Layout = "LayoutKH2";
    var userId = ViewBag.Age;
    var userName = ViewBag.Name;
}
@section Styles
{
    <link id="color_scheme" href="~/Test/css/theme.css" rel="stylesheet">
}
<!-- //HOME SLIDER -->
<!-- DEALS DAY -->
<div class="deals-days">
    <div class="container deals-container clearfix">

        @await Component.InvokeAsync("Deal")

        <div class="deals-left deals-right">
            <h4 class="deals-title">
                popular <span>product</span>
            </h4>
            <div class="deals-right-desc">

                @await Component.InvokeAsync("Popular")

            </div>
        </div>

    </div>
</div>
<!-- //DEALS DAYS -->
<!-- BANNER -->
<div class="banner">
    <div class="container">
        <div class="row row0">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 col0">
                <a href="#" class="hv-border-inline-bg">
                    <img src="~/Test/image/catalog/demo/slider/home1/collection2.jpg" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 col0">
                <a href="#" class="hv-border-inline-bg">
                    <img src="~/Test/image/catalog/demo/slider/home1/collection1.jpg" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 col0">
                <a href="#" class="hv-border-inline-bg">
                    <img src="~/Test/image/catalog/demo/slider/home1/collection3.jpg" class="img-responsive" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
<!-- //BANNER -->

<div class="featured-products best-seller">
    <div class="container">
        <h3 class="featured-title">
            <span>
                FEATURED <span>PRODUCTS</span>
            </span>
        </h3>
        <div class="featured-slider yt-content-slider" data-autoplay="yes" data-delay="4" data-speed="0.6" data-margin="30" data-items_column00="4" data-items_column0="4" data-items_column1="4" data-items_column2="3" data-items_column3="2" data-items_column4="1" data-arrows="yes" data-pagination="no" data-lazyload="no" data-loop="no" data-hoverpause="yes">

            @await Component.InvokeAsync("Featured")
        </div>
    </div>
</div>

<!-- INFOMATION SHIPPING -->
<div class="infomation">
    <div class="container">
        <div class="infomation-bg">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 box">
                    <div class="infomation-box">
                        <div class="infomation-image">
                            <img src="~/Test/image/catalog/demo/slider/home1/shipping.png" class="img-responsive" alt="">
                        </div>
                        <div class="infomation-desc">
                            <h6 class="infomation-title">SHIPPING</h6>
                            <p class="infomation-detail">Phí giao hàng theo khu vực</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 box">
                    <div class="infomation-box">
                        <div class="infomation-image">
                            <img src="~/Test/image/catalog/demo/slider/home1/money.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="infomation-desc">
                            <h6 class="infomation-title">MONEY BACK GUARANTEE</h6>
                            <p class="infomation-detail">Bảo hành uy tín</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 box">
                    <div class="infomation-box">
                        <div class="infomation-image">
                            <img src="~/Test/image/catalog/demo/slider/home1/support.png" class="img-responsive" alt="">
                        </div>
                        <div class="infomation-desc">
                            <h6 class="infomation-title">24 HOURS SUPPORT</h6>
                            <p class="infomation-detail">Nhân viên hỗ trợ nhiệt tình</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- //INFOMATION SHIPPING -->
<!-- BEST SELLER -->
<div class="featured-products best-seller">
    <div class="container">
        <h3 class="featured-title">
            <span>
                BEST <span>SELLER</span>
            </span>
        </h3>
        <div class="featured-slider yt-content-slider" data-autoplay="yes" data-delay="4" data-speed="0.6" data-margin="30" data-items_column00="4" data-items_column0="4" data-items_column1="4" data-items_column2="3" data-items_column3="2" data-items_column4="1" data-arrows="yes" data-pagination="no" data-lazyload="yes" data-loop="no" data-hoverpause="yes">
            @await Component.InvokeAsync("BestSeller")
        </div>
    </div>
</div>
<!-- //BEST SELLER -->
<!-- CUSTOMER OPINION -->
<div class="customer-opinion">
    <div class="container">
        <div class="customer-opinion-slider yt-content-slider" data-autoplay="yes" data-delay="4" data-speed="0.6" data-margin="0" data-items_column00="1" data-items_column0="1" data-items_column1="1" data-items_column2="1" data-items_column3="1" data-items_column4="1" data-arrows="yes" data-pagination="no" data-lazyload="yes" data-loop="yes" data-hoverpause="yes">
            <div class="item clearfix">
                <div class="customer-avatar">
                    <img src="~/Test/image/catalog/demo/slider/home1/binhluan1.jpg" class="img-responsive" alt="">
                </div>
                <div class="opinion">
                    <p class="opinion-detail">Nhờ các sản phẩm của Nội thất Sài Thành mà căn nhà tôi đã tiện nghi hơn</p>
                    <p class="customer-name"><span>Chị Phương - Nha sĩ</span></p>
                </div>
            </div>
            <div class="item clearfix">
                <div class="customer-avatar">
                    <img src="~/Test/image/catalog/demo/slider/home1/binhluan2.jpg" class="img-responsive" alt="">
                </div>
                <div class="opinion">
                    <p class="opinion-detail">Tổ tư vấn uy tín đã giúp chọn nhiều vật dụng bổ ích</p>
                    <p class="customer-name"><span>Chị Hương - Nội trợ</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //CUSTOMER OPINION -->
<!-- CATEGORIES -->
<div class="categories">
    <div class="container">
        <div class="row row5">
            @await Component.InvokeAsync("CategoriesSub")
        </div>
    </div>
</div>
<!-- //CATEGORIES -->
<!-- BRAND -->
<div class="brands">
    <div class="container">
        <div class="cleafix">
            <div class="brand-left">
                <ul class="nav nav-tabs">
                    <li class="brand-title-box">
                        <h3 class="brand-title featured-title">
                            <span>
                                FEATURED <span>BRANDS</span>
                            </span>
                        </h3>
                    </li>
                    <li class="active">
                        <a data-toggle="tab" href="#brand1">
                            <img src="~/Test/image/catalog/demo/brand/brand2.png" class="img-responsive" alt="">
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#brand2">
                            <img src="~/Test/image/catalog/demo/brand/brand3.png" class="img-responsive" alt="">
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#brand3">
                            <img src="~/Test/image/catalog/demo/brand/brand4.png" class="img-responsive" alt="">
                        </a>
                    </li>

                </ul>
            </div>
            <div class="brand-center">
                <!-- <img src="~/Test/image/catalog/demo/slider/home1/brand-bg.png" class="img-responsive" alt=""> -->
                <div class="tab-content">
                    <div id="brand1" class="tab-pane fade in active">
                        <img src="~/Test/image/catalog/demo/brand/brand1.jpg" class="img-responsive" alt="">
                        <div class="brand-info">
                            <p style="color: black;" class="brand-desc">Nokia Corporation is a Finnish multinational             communications and information technology company. Nokia is headquartered in Espoo, Uusimaa, in the greater Helsinki metropolitan area.</p>
                            <a href="#" class="smooth shop-now">SHOP NOW</a>
                        </div>
                    </div>
                    <div id="brand2" class="tab-pane fade">
                        <a href="#" class="">
                            <img src="~/Test/image/catalog/demo/brand/brand1.jpg" class="img-responsive" alt="">
                            <div class="brand-info">
                                <p style="color: black;" class="brand-desc">Nokia Corporation is a Finnish multinational             communications and information technology company. Nokia is headquartered in Espoo, Uusimaa, in the greater Helsinki metropolitan area.</p>
                                <a href="#" class="smooth shop-now">SHOP NOW</a>
                            </div>
                        </a>
                    </div>
                    <div id="brand3" class="tab-pane fade">
                        <a href="#" class="">
                            <img src="~/Test/image/catalog/demo/brand/brand1.jpg" class="img-responsive" alt="">
                            <div class="brand-info">
                                <p style="color: black;" class="brand-desc">Nokia Corporation is a Finnish multinational             communications and information technology company. Nokia is headquartered in Espoo, Uusimaa, in the greater Helsinki metropolitan area.</p>
                                <a href="#" class="smooth shop-now">SHOP NOW</a>
                            </div>
                        </a>
                    </div>
                    <div id="brand4" class="tab-pane fade">
                        <a href="#" class="">
                            <img src="~/Test/image/catalog/demo/brand/brand1.jpg" class="img-responsive" alt="">
                            <div class="brand-info">
                                <p style="color: black;" class="brand-desc">Nokia Corporation is a Finnish multinational             communications and information technology company. Nokia is headquartered in Espoo, Uusimaa, in the greater Helsinki metropolitan area.</p>
                                <a href="#" class="smooth shop-now">SHOP NOW</a>
                            </div>
                        </a>
                    </div>
                    <div id="brand5" class="tab-pane fade">
                        <a href="#" class="">
                            <img src="~/Test/image/catalog/demo/brand/brand1.jpg" class="img-responsive" alt="">
                            <div class="brand-info">
                                <p style="color: black;" class="brand-desc">Nokia Corporation is a Finnish multinational             communications and information technology company. Nokia is headquartered in Espoo, Uusimaa, in the greater Helsinki metropolitan area.</p>
                                <a href="#" class="smooth shop-now">SHOP NOW</a>
                            </div>
                        </a>
                    </div>
                    <div id="brand6" class="tab-pane fade">
                        <a href="#" class="">
                            <img src="~/Test/image/catalog/demo/brand/brand1.jpg" class="img-responsive" alt="">
                            <div class="brand-info">
                                <p style="color: black;" class="brand-desc">Nokia Corporation is a Finnish multinational             communications and information technology company. Nokia is headquartered in Espoo, Uusimaa, in the greater Helsinki metropolitan area.</p>
                                <a href="#" class="smooth shop-now">SHOP NOW</a>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
            <div class="brand-left brand-right">
                <ul class="nav nav-tabs">
                    <li class="">
                        <a data-toggle="tab" href="#brand4">
                            <img src="~/Test/image/catalog/demo/brand/brand4.png" class="img-responsive" alt="">
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#brand5">
                            <img src="~/Test/image/catalog/demo/brand/brand3.png" class="img-responsive" alt="">
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#brand6">
                            <img src="~/Test/image/catalog/demo/brand/brand2.png" class="img-responsive" alt="">
                        </a>
                    </li>
                    <li class="brand-title-box">
                        <h3 class="brand-title featured-title">
                            <span>
                                Hãng <span>Nổi tiếng</span>
                            </span>
                        </h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @if (userId == null)
    {
        <script>
            $("#myModalLogin").modal();
        </script>
    }

}