@{ ViewData["Title"] = "Index";
                Layout = "~/Views/Shared/_MerchantManagementLayout.cshtml"; }
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="container menu_knb">
    <h2>Chào mừng trình quản lý bán hàng</h2>
    <p>Công cụ quản lý cho nhân viên của shop.</p>
    @await Component.InvokeAsync("ThongBao")
    <div class="menu_quanly_knb">
        <div class="menu_knb_part">
            <a asp-controller="QuanLy" asp-action="ListSp">
                <div class="menu_knb_icon" id="btntest">
                    <i class="fa fa-inbox"></i>
                </div>
                <h4>Quản lý</h4>
            </a>
        </div>
        <div class="menu_knb_part">
            <a asp-controller="DonHang" asp-action="ChoXuLy">
                <div class="menu_knb_icon">
                    <i class="fa fa-tags"></i>
                </div>
                <h4>Đơn Bán</h4>
            </a>
        </div>
        <div class="menu_knb_part">
            <a asp-controller="DoanhThu" asp-action="Index">
                <div class="menu_knb_icon">
                    <i class="fa fa-money"></i>
                </div>
                <h4>Doanh Thu</h4>
            </a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="bottom_knb">
        <p>Bạn có thắc mắc? Ghé thăm ngay<a asp-controller="QuanLy" asp-action="HoTro"> Trung tâm trợ giúp</a> để tìm hiểu các mẹo,</p>
        <p> câu hỏi thường gặp và tài liệu hướng dẫn.</p>
    </div>
</div>