<style>
    .chat {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        .chat li {
            margin-bottom: 10px;
            padding-bottom: 5px;
            border-bottom: 1px dotted #B3A9A9;
        }

            .chat li.left .chat-body {
               /*margin-left: 60px;*/ 
            }

            .chat li.right .chat-body {
               /* margin-right: 60px;*/
            }


            .chat li .chat-body p {
                margin: 0;
                color: #777777;
                
            }

        .panel .slidedown .glyphicon, .chat .glyphicon {
            margin-right: 5px;
        }
    .ichatListingUser {
        width: 100%;
        font-size: 13px;
        color: #333333;
    }
    .ichatListingPadding {
        float: left;
        width: 256px;
        margin: 0;
        padding: 0;
    }
    .lapdatvachamsoc, .ichatListingPadding {
        padding-bottom: 10px !important;
    }
    .panel-body {
/*        overflow-y: scroll;*/
        height: 200px;
    }
    .lapdatvachamsoc .tuvan_tr {
        font-size: 15px;
        position: relative;
        top: 5px;
    }
    .story_support {
        width: 100%;
        height: 20px;
    }
    .ichatListingPadding .story_support .name {
        position: relative;
        top: 2px;
        font-size: 13px;
        margin-right: 10px;
    }
    .ichatListingPadding .story_support .phone {
        position: relative;
        top: 3px;
        font-size: 13px;
    }
    .ichatListingPadding .story_support p {
        float: left;
    }
    .host_time {
        padding: 10px
    }
    .host_time .phone_hosttime {
        font-size: 18px;
        color: #E20000;
        margin-left: 10px;
    }
    .host_time span img {
        width: 40px;
        height: 35px;
        float: left;
    }
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar {
        width: 12px;
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #555;
    }

</style>
<div class="col-md-3 col-xs-12" style="position:fixed;z-index:99999999;bottom:0px">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary" style="margin-bottom:0px">
                    <div class="panel-heading" id="panel-heading-box-chat">
                        <span class="glyphicon glyphicon-comment"></span> <span id="title-heading-chat">Hỗ trợ trực tuyến</span>
                    </div>
                    <div id="content-box-chat" style="display:none">
                        <div class="panel-body">
                            <div id="register-content">
                                <div class="host_time">
                                    <span>
                                        <img src="~/hotline.png">
                                    </span>
                                    <span class="phone_hosttime"><b style="width:24px;">0936.320.777</b></span>
                                    <div class="ichatListingUser">
                                        <div class="ichatListingPadding">
                                            <div class="lapdatvachamsoc">
                                                <span class="tuvan_tr"><b>Hỗ trợ khách hàng</b></span>
                                            </div>
                                            <div class="story_support"><p class="name"><a><span>Hồ Chí Minh: </span></a></p><p class="phone"><a><span>028.66511.777</span></a></p></div><div class="story_support"><p class="name"><a><span>Hà Nội: </span></a></p><p class="phone"><a><span>024.66711.777</span></a></p></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    </div>
                </div>
        </div>
    </div>
</div>

