@model List<Domain.Shop.Entities.Supplier>


<table id="list-suppliers" class="display nowrap" width="100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Icn</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Description</th>
            <th>Tình trạng nợ</th>
            <th></th>
        </tr>
    </thead>
</table>

<script src="~/assets/js/app1.js" asp-append-version="true"></script>