@model List<Domain.Shop.Entities.ImportBill>


<table id="list-imports" class="display nowrap" width="100%">
    <thead>
        <tr>
            <th>Mã</th>
            <th>Đơn giá</th>
            <th>Số lượng</th>
            <th>Mã NCC</th>
            <th>Ngày nhập</th>
            <th>Thao tác</th>
        </tr>
    </thead>
</table>

<script src="~/assets/js/app2.js" asp-append-version="true"></script>