@model List<Domain.Shop.Dto.Slider.SliderViewModel>


<table id="list-clients" class="display nowrap" width="100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>Photo name</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
</table>

<script src="~/assets/js/app.js" asp-append-version="true"></script>